.dateTimePicker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.timePickerContainer {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.datePicker {
  padding: 0 10px;
  text-align: center;
}

.timePicker p {
  text-align: center;
}
