.dateTimePicker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px; */
}
.timePickerContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 20px;
}

.datePicker p {
  padding: 10px 10px;
  text-align: center;
}
.datePicker input {
  outline: none;
  padding: 11px 20px;
  border: 1px solid #4e4d4d;
  /* border-radius: 3px; */
  width: 250px;
  cursor: pointer;
}

.timePicker p {
  padding: 10px 10px;
  text-align: center;
}

.timePicker input {
  outline: none;
  padding: 10px 20px;
  border: 1px solid #4e4d4d;
  width: 150px;
  cursor: pointer;
}

@media (max-width: 479px) {
  .datePicker input {
    width: 230px;
  }

  .timePicker input {
    width: 230px;
  }

  .timePickerContainer {
    padding: 0;
  }
}

@media (max-width: 300px) {
  .datePicker input {
    width: 200px;
  }

  .timePicker input {
    width: 200px;
  }
}
