.parkingArea {
  padding: 20px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  flex: 1;
}

@media (max-width: 1042px) {
  .parkingArea {
    justify-content: left;
  }
}
