.parkingBooking {
  /* background-color: antiquewhite; */
  background-color: #f8f5ff;
  position: relative;
  /* height: 500px; */
  width: 80%;
  max-width: 500px;
  padding: 20px;
}

.parkingBookingClose {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  background-color: white;
  border-radius: 100px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.parkingBookingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.parkingBookingContainer p {
  margin: 10px 0;
}

.parkingBookingContainer input {
  margin: 10px 0;
  border: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
}

.parkingBooking__bookButton {
  background-color: #ccb7ff;
  border: 1px solid black;
  outline: none;
  padding: 8px;
  cursor: pointer;
  margin-top: 15px;
}
